*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.herotext{
    background: linear-gradient(to bottom, #0099ff 0%, #0033cc 100%);
}
.formdiv{
    position: relative;

}
.googleform{
    position: relative;
    z-index: 0;
    
    
}
.ftr{
    position: absolute;
    width: 100%;
    height: 8%;
    bottom: 0px;
    
    z-index: 9;
   

}

@media screen and (max-width: 360px){
    .ftr{
        height: 14%;
    }
}
/* @media (min-width: 325px) and (max-width: 340px){
    .ftr{
        height: 15%;
    }
}
@media (min-width: 340px) and (max-width: 360px){
    .ftr{
        height: 16%;
    }
} */
@media (min-width: 361px) and (max-width: 380px){
    .ftr{
        height: 12%;
    }
}